@import 'bootstrap/dist/css/bootstrap.min.css';
/* System Fonts as used by GitHub */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: rgb(221, 221, 221);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  background: linear-gradient(-200deg, rgb(2, 0, 36) 0%, rgb(31, 53, 77) 65%);
  color: rgb(221, 221, 221);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-block: 1rem;
}
header .logo {
  width: 50px;
  height: 50px;
}
header .logo img {
  max-width: 100%;
}
header .main_nav ul {
  display: flex;
  list-style: none;
  gap: 1.56rem;
}
header .main_nav ul li a {
  text-decoration: none;
  width: 100%;
  height: 100%;
}
header .ham_burger {
  display: none;
}

@media screen and (max-width: 768px) {
  header .main_nav {
    display: none;
  }
  header .header-actions {
    display: none;
  }
  header .ham_burger {
    cursor: pointer;
    display: block;
  }
  header .ham_burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
  }
}
.login-page {
  width: 100%;
  height: 100vh;
}
.login-page .page-title {
  font-size: 1.4rem;
  font-weight: 700;
}
.login-page .login-page-container {
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  width: 50%;
  padding: 3rem 4rem;
}
.login-page .login-page-container input:focus {
  border: none;
  outline: none;
}
.login-page .login-page-container button {
  background-color: rgba(2, 0, 36, 0.5);
  color: rgb(221, 221, 221);
}
.login-page .login-page-container button:hover {
  background-color: rgb(20, 40, 61);
}
.login-page .login-page-container .register a {
  color: rgb(196, 151, 19) !important;
}

@media only screen and (max-width: 768px) {
  .login-page .login-page-container {
    width: 70%;
  }
}
@media only screen and (max-width: 425px) {
  .login-page .login-page-container {
    width: 100%;
    box-shadow: none;
    padding: 2rem;
  }
}
.main-slider {
  margin-top: 0;
  height: 100vh;
}
.main-slider .hero-img {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url("/src/assets/img/background1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}
.main-slider .hero-img .hero-bg {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  z-index: -1;
}
.main-slider .hero-img .hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
}
.main-slider .hero-img .hero-text p {
  font-size: 16px;
  padding-top: 30px;
}
.main-slider .hero-img .hero-text .welcome-text {
  padding-bottom: 25px;
  border-bottom: 4px solid rgba(2, 0, 36, 0.5);
}
.main-slider .hero-img .hero-text .welcome-text span {
  display: block;
}
.main-slider .hero-img .hero-text .welcome-text .big-text {
  font-size: 50px;
  font-weight: bold;
}
.main-slider .hero-img .hero-text .welcome-text .small-text {
  font-size: 38px;
  font-weight: bold;
  margin-top: 0px;
}
.main-slider button {
  background-color: rgba(2, 0, 36, 0.5);
  color: rgb(221, 221, 221);
  border: none;
}

@media screen and (max-width: 768px) {
  #header {
    justify-content: space-between !important;
  }
}
#blog-container {
  display: flex;
  flex-wrap: wrap;
}
#blog-container .blog-card {
  border-right: 0.1px solid rgb(222, 226, 230);
  border-bottom: 1px solid rgb(222, 226, 230);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin: 15px;
  padding: 15px;
  display: flex;
  flex: 0 0 calc(50% - 30px); /* Two cards in a row with margins */
  transition: transform 0.3s ease-in-out;
}
#blog-container .blog-card:hover {
  transform: scale(1.01);
}
#blog-container .blog-card .blog-card-image {
  max-width: 100%;
  max-height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#blog-container .blog-card .blog-card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
#blog-container .blog-card .blog-card-content .blog-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: 700;
}
#blog-container .blog-card .blog-card-content .blog-description {
  font-size: 0.9rem;
  color: #dee2e6;
  margin-bottom: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
#blog-container .blog-card .blog-card-content .read-more-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #007bff;
  font-weight: 500;
  text-transform: capitalize;
}
#blog-container .blog-card .blog-card-content .read-more-line::before {
  content: "";
  position: absolute;
  height: 2px;
  top: 9px;
  width: 30px; /* Adjust the length of the line as needed */
  background-color: #007bff;
  margin-left: 10px; /* Adjust the margin to control the distance between text and line */
}
#blog-container .blog-card .blog-card-content .read-more-circle::after {
  content: ">";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #007bff;
  border-radius: 50%;
  background-color: transparent;
  font-size: 13px;
  top: 1px;
  left: 111px;
}
@media (max-width: 768px) {
  #blog-container .blog-card {
    flex: 0 0 calc(100% - 60px); /* Two cards in a row with margins for larger screens */
  }
}

@media screen and (max-width: 575px) {
  #blog-container {
    justify-content: center;
    align-items: center;
  }
  #blog-container .blog-card {
    flex-direction: column;
    margin: 10px;
    padding: 11px;
  }
  #blog-container .blog-card .blog-card-image {
    max-width: 100%;
    max-height: 100px;
    margin-bottom: 15px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #blog-container .blog-card .blog-card-content {
    margin-left: 0rem;
  }
  #blog-container .blog-card .blog-card-content .blog-title {
    font-size: 1rem;
    font-weight: 500;
  }
  #blog-container .blog-card .blog-card-content .blog-description {
    margin-bottom: 15px;
    font-size: 0.75rem;
  }
  #blog-container .blog-card .blog-card-content .read-more-button {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
  #blog-container .blog-card .blog-card-content .read-more-line::before {
    height: 1.5px;
    top: 6px;
  }
  #blog-container .blog-card .blog-card-content .read-more-circle::after {
    top: -1px;
    left: 96px;
    font-size: 11px;
    width: 18px;
    height: 18px;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}
.navbar .logo {
  font-size: 20px;
}
.navbar .nav-items {
  display: flex;
}
.navbar .nav-items .nav-item {
  margin-right: 20px;
  cursor: pointer;
}
.navbar .nav-items .nav-item.logout {
  margin-left: auto; /* Push Logout to the right */
}

.content {
  padding: 20px;
}

.adminOverview-section {
  display: flex;
}
.adminOverview-section .overview-card {
  border-right: 0.1px solid rgb(222, 226, 230);
  border-bottom: 1px solid rgb(222, 226, 230);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin: 15px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(50% - 30px); /* Two cards in a row with margins */
  transition: transform 0.3s ease-in-out;
}
.adminOverview-section .overview-card:hover {
  transform: scale(1.01);
}
.adminOverview-section .overview-card h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.adminOverview-section .overview-card p {
  font-size: 1.2rem;
}
.adminOverview-section .overview-card span {
  color: yellow;
}

.search-bar {
  padding: 1rem;
  display: flex;
  justify-content: end;
  gap: 2rem;
}
.search-bar #blog-search-input {
  padding: 0.6rem 0.6rem;
  width: 80%;
  outline: none;
  border-radius: 8px;
  border: none;
}

.add-dialog {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 8px;
  color: #000;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.add-dialog .add-dialog-form-form {
  flex-direction: column;
  gap: 1.5rem;
}
.add-dialog input {
  padding: 1rem;
}
.add-dialog textarea {
  padding: 1rem;
}

@media screen and (max-width: 575px) {
  .search-bar {
    flex-direction: column;
  }
  .search-bar #blog-search-input {
    width: 90%;
  }
}/*# sourceMappingURL=main.css.map */